.wrapper {
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: #020112;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: radial-gradient(
      ellipse at bottom,
      #532cad 0%,
      #020112 50%
    );
    opacity: 0.4;
    filter: blur(20px);
  }

  &::after {
    content: '';
    position: absolute;
    top: calc(var(--y, 0) * 1px - 8px);
    left: calc(var(--x, 0) * 1px - 8px);
    filter: blur(3px);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    mix-blend-mode: difference;
  }

  &:hover::after {
    opacity: 0.5;
  }
}
