.dot {
  position: relative;
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 9999px;
  transition: all 0.15s 75ms;
}

.offline {
  background-color: #fafafa;
  box-shadow: inset 0 0 0 1px #eaeaea;
}

.online {
  background-color: #0cce6b;
  box-shadow: inset 0 0 0 1px #0cce6b;
}
