@import './animate.scss';

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  cursor: none;
  font-family: 'Varela Round', 'PingFang SC', -apple-system, sans-serif;
}

#root {
  height: 100%;
}

.animate-enter {
  animation: enter 0.4s ease-in;
}

.animate-leave {
  animation: leave 0.3s ease-out forwards;
}

::selection {
  background: #532cad;
  color: #fff;
}

::-moz-selection {
  background: #532cad;
  color: #fff;
}

::-webkit-selection {
  background: #532cad;
  color: #fff;
}
